In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [4]:
from sklearn.ensemble import RandomForestClassifier as rndf

In [5]:
# n_estimators = numero de arvores da random-forest
modelo=rndf(n_estimators=100,n_jobs=-1,random_state=0)

In [6]:
# Função atribuir feminino como 1 e masculino como 0
# Deixar o sexo como uma variável binária
def trans(valor):
    if valor =='female':
        return 1
    else:
        return 0

In [7]:
# Crindo uma coluna nos dados treino
# coluna = 'Sex_binario', atribuindo sexo como 0 ou 1 nessa coluna
train['Sex_binario']=train['Sex'].map(trans)

In [8]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1

In [9]:
#Variáveis que serão utilizadas para o modelo
variaveis = ['Sex_binario', 'Age']

In [10]:
# x = variaveis utilizadas para o modelo
# y = variaveis a prever 
x=train[variaveis]
y=train['Survived']

In [11]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [12]:
x.head()

   Sex_binario   Age
0            0  22.0
1            1  38.0
2            1  26.0
3            1  35.0
4            0  35.0

In [13]:
#Substituindo os dados faltantes por -1
x=x.fillna(-1)

In [14]:
# Variavel de entrada = x
# Variavel a prever = y
modelo.fit(x,y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [15]:
# Criando a coluna 'Sex_binario' nos dados de teste
# utilizando a função trans para colocar o sexo como binário 
test['Sex_binario']=test['Sex'].map(trans)

In [16]:

x_prev=test[variaveis]
x_prev

     Sex_binario   Age
0              0  34.5
1              1  47.0
2              0  62.0
3              0  27.0
4              1  22.0
..           ...   ...
413            0   NaN
414            1  39.0
415            0  38.5
416            0   NaN
417            0   NaN

[418 rows x 2 columns]

In [17]:
x_prev=x_prev.fillna(-1)

In [18]:
#Dados de previsão
p=modelo.predict(x_prev)

In [19]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [20]:
#Criando uma serie de dados com as previsões, associando a col 'PassengerId', para efeito de comparação
# Col com os dados previstos = 'p', foi nomeada como 'Survived'
sub=pd.Series(p, index=test['PassengerId'], name='Survived')
sub.shape

(418,)

In [21]:
# Transformando o modelo em um arquivo .csv
sub.to_csv('primeiro_modelo.csv', header=True)

In [22]:
sub.head(3)

PassengerId
892    0
893    1
894    0
Name: Survived, dtype: int64

# VALIDAÇÃO DO MODELO:

In [23]:
from sklearn.model_selection import train_test_split as tts

In [24]:
?tts

In [25]:
x_fake= np.arange(10)

In [29]:
# Cria, de forma aleatória, um conjunto de dados pra treino e pra teste
# Se não declarar, a divisão é feita 70-30%
# test_size= definiu 50% do conjunto pra treino e teste
# x_treino e x_valid = dados de entrada
# y_treino e y_valid =  dados de previsão
# equivalem a x, y respectivamente, já declaradas anteriormente 
np.random.seed(0)
x_treino,  x_valid, y_treino, y_valid = tts(x, y, test_size=0.5)

In [30]:
x_treino.shape, x_valid.shape, y_treino.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [31]:

modelo=rndf(n_estimators=100, n_jobs=-1, random_state=0)
modelo.fit(x_treino, y_treino)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [32]:
p=modelo.predict(x_valid)

In [33]:
#Acurácia
np.mean(y_valid==p)

0.7690582959641256

# VALIDAÇÃO CRUZARA

In [34]:
from sklearn.model_selection import KFold

In [35]:
# ?KFold

In [61]:
resultados=[]
for rep in range(10): 
    print ('Rep: ',rep)
    kf=KFold(3, shuffle=True, random_state=rep)

    for l_treino, l_valid in kf.split(x):
        print('Treino:', l_treino.shape[0])
        print('Validação:', l_valid.shape[0])

        x_treino, x_valid =x.iloc[l_treino], x.iloc[l_valid]
        y_treino, y_valid = y.iloc[l_treino], y.iloc[l_valid]
        #print(x_treino.head())

        modelo=rndf(n_estimators=100, n_jobs=-1, random_state=0)
        modelo.fit(x_treino, y_treino)

        p=modelo.predict(x_valid)

        acc=np.mean(y_valid==p)
        resultados.append(acc)
        print('Acc: ', acc)
        print()

print('------------------------------')
print('Média: ')
print(np.mean(resultados))

Rep:  0
Treino: 594
Validação: 297
Acc:  0.7609427609427609

Treino: 594
Validação: 297
Acc:  0.7845117845117845

Treino: 594
Validação: 297
Acc:  0.7643097643097643

Rep:  1
Treino: 594
Validação: 297
Acc:  0.7575757575757576

Treino: 594
Validação: 297
Acc:  0.7710437710437711

Treino: 594
Validação: 297
Acc:  0.7878787878787878

Rep:  2
Treino: 594
Validação: 297
Acc:  0.7474747474747475

Treino: 594
Validação: 297
Acc:  0.7878787878787878

Treino: 594
Validação: 297
Acc:  0.7777777777777778

Rep:  3
Treino: 594
Validação: 297
Acc:  0.7441077441077442

Treino: 594
Validação: 297
Acc:  0.7508417508417509

Treino: 594
Validação: 297
Acc:  0.7777777777777778

Rep:  4
Treino: 594
Validação: 297
Acc:  0.7710437710437711

Treino: 594
Validação: 297
Acc:  0.7508417508417509

Treino: 594
Validação: 297
Acc:  0.7373737373737373

Rep:  5
Treino: 594
Validação: 297
Acc:  0.7508417508417509

Treino: 594
Validação: 297
Acc:  0.8215488215488216

Treino: 594
Validação: 297
Acc:  0.7003367003367004

Rep:  6
Treino: 594
Validação: 297
Acc:  0.7508417508417509

Treino: 594
Validação: 297
Acc:  0.7777777777777778

Treino: 594
Validação: 297
Acc:  0.7306397306397306

Rep:  7
Treino: 594
Validação: 297
Acc:  0.7373737373737373

Treino: 594
Validação: 297
Acc:  0.8047138047138047

Treino: 594
Validação: 297
Acc:  0.7845117845117845

Rep:  8
Treino: 594
Validação: 297
Acc:  0.7912457912457912

Treino: 594
Validação: 297
Acc:  0.7643097643097643

Treino: 594
Validação: 297
Acc:  0.7575757575757576

Rep:  9
Treino: 594
Validação: 297
Acc:  0.7508417508417509

Treino: 594
Validação: 297
Acc:  0.7542087542087542

Treino: 594
Validação: 297
Acc:  0.7811447811447811

------------------------------
Média:
0.7643097643097645